<div class="row">
  <div class="col s12 z-depth-5 custom-grey">
    <ul class="tabs tabs-fixed-width">
      <li class="tab col s3"><a class="active" href="#test1">dxolabs</a></li>
      <li class="tab col s3"><a href="#test2">optics-pro</a></li>
    </ul>
  </div>
  <div id="test1" class="col s12">
  {{{cam_table}}}</div>
  <div id="test2" class="col s12">
  </div>
</div>
